/*
 * Web Starter Kit
 *
 * Multi-screen layout styles for your page. Brought to you by the
 * Web Starter Kit team.
 *
 */

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
  font-weight: 300;
  background-color: #eee;
  box-sizing: border-box;
  min-height: 100%;
}

body.open {
  overflow: hidden;
}

header {
  padding: .75em;
  color: #fff;
  font-size: 1.1em;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  background: #16a085;

  a {
    color: #fff;
  }
}

.wrapper {
  margin: 2em auto;
  width: 100%;
  max-width: 560px;
}

.topic {

  &-card {
    overflow: hidden;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
    background-color:  #fff;

    &-image {
      height: 450px;
    }

    &-content {
      padding: 0 2.75em 2.75em 2.75em;

      &-title {
        font-size: 22px;
        font-weight: 600;
      }

      &-meta {
        padding-bottom: 1em;
        color: #999
      }

      &-actions {
        padding-top: 2em;
        padding-bottom: 1em;
        color: #999;

        .btn-default {
          padding: 10px 20px;
          margin-right: 15px;
        }

        ul {
          margin-left: 1em;
        }

        li {
          font-size: 1.2em;
          margin-right: 2em;
          padding-top: 10px;

          .fa {
            margin-right: 5px;
          }
        }
      }

      p {
        font-size: 1em;
        line-height: 1.6;
        margin: 1.5em 0;
        color: #999;
      }

      hr {
        border: 0;
        margin: 3em;
        border-top: 1px solid #eee;
      }
    }
  }

  &-child {
    overflow: hidden;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
    background-color: #fff;
    margin-top: 50px;
    margin-left: 50px;
    cursor: pointer;

    &-content {
      padding: 1.5em 2.75em 2em 2.75em;
    
      &-title {
        font-size: 18px;
        font-weight: 600;
      }     

      &-meta {
        padding-top: 1em;
        color: #999;

        .fa { 
          margin-right: 5px;
        }

        li {
          margin-right: 2em;
        }
      }
    }

    &-drill {
      color: #eee;
      height: 100%;
      padding: 2.75em 2.75em 2em 0;

      &:hover {
        color: #999;
      }
    }
  }
}


.btn {
  border: none;
  border-radius: 3px;

}

.btn-primary {
  background-color: #3498db;
  box-shadow: inset 0 -2px #2980b9;
  font-weight: 300;
  padding: 10px 30px;
}

.btn-primary:hover {
  background-color: #2980b9;
}

.btn-default {
  background-color: #ecf0f1;
  box-shadow: inset 0 -2px #bdc3c7;
  font-weight: 300;
  padding: 10px 30px;
  color: #666;
}

.btn-primary:hover {
  background-color: #bdc3c7;
}

.label-default { 
  background-color: #ecf0f1;
  color: #666;
  font-weight: 400;
  padding: 8px 12px;
  cursor: pointer;
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,300,700,600,400);

/*
@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 700;
  src: url(/fonts/RobotoCondensed-BoldItalic.eot);
  src: local('Roboto Condensed Bold Italic'), local('RobotoCondensed-BoldItalic'), url(/fonts/RobotoCondensed-BoldItalic.eot) format('embedded-opentype'), url(/fonts/RobotoCondensed-BoldItalic.woff) format('woff');
}*/