@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,300,700,600,400);
/*
 * Web Starter Kit
 *
 * Multi-screen layout styles for your page. Brought to you by the
 * Web Starter Kit team.
 *
 */
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  position: relative;
  font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
  font-weight: 300;
  background-color: #eee;
  box-sizing: border-box;
  min-height: 100%;
}
body.open {
  overflow: hidden;
}
header {
  padding: .75em;
  color: #fff;
  font-size: 1.1em;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  background: #16a085;
}
.wrapper {
  margin: 2em auto;
  width: 100%;
  max-width: 560px;
}
.topic-card {
  overflow: hidden;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}
.topic-card-image {
  height: 450px;
}
.topic-card-content {
  padding: 0 2.75em 2.75em 2.75em;
}
.topic-card-content hr {
  border: 0;
  margin: 3em;
  border-top: 1px solid #eee;
}
.topic-card-content-title {
  font-size: 22px;
  font-weight: 600;
}
.topic-card-content p {
  font-size: 1em;
  line-height: 1.6;
  margin: 1.5em 0;
  color: #999;
}
.topic-card-content-meta {
  padding-top: 2em;
  padding-bottom: 1em;
  color: #999;
}
.topic-card-content-actions {
  padding-bottom: 1em;
  color: #999;
}
.btn-primary {
  background-color: #3498db;
  box-shadow: inset 0 2px #2980b9;
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 700;
  src: url(/fonts/RobotoCondensed-BoldItalic.eot);
  src: local('Roboto Condensed Bold Italic'), local('RobotoCondensed-BoldItalic'), url(/fonts/RobotoCondensed-BoldItalic.eot) format('embedded-opentype'), url(/fonts/RobotoCondensed-BoldItalic.woff) format('woff');
}
