<div class="wrapper">

    <div class="row">

        <ol class="breadcrumb">
            <li><a href="#">Previous topic</a></li>
        </ol>

    </div>

    <div class="topic-card row">
        <img class="topic-card-image" src="http://d.ibtimes.co.uk/en/full/1395234/ebola-liberia.jpg" />

        <div class="topic-card-content">

            <div class="topic-card-content-meta">
                <span class="label label-default">label topic</span>
            </div>

            <h1 class="topic-card-content-title">
                Ebola in Sierra Leone
            </h1>

            <div class="topic-card-content-author">
                Topic author
            </div>

            <p>
                Issue description or pitch. Phasellus quis ligula ut enim pretium ornare nec nec est. Vestibulum eget ipsum fringilla, scelerisque velit vel, cursus eros. Curabitur ullamcorper interdum sapien quis pretium. In eget tristique massa. In lacinia risus sed ullamcorper bibendum. Sed consectetur nec sem at venenatis. Integer sed lacinia risus, eu malesuada lectus. In dignissim congue massa, eu eleifend dui tristique maximus. Sed vehicula ante ut mauris vehicula, non laoreet arcu dapibus.
            </p>

            <hr />

            <div class="topic-card-content-actions">
                Stars or any other cool meta Share stuff <span class="fa fa-search"></span>
                <button class="btn btn-lg btn-primary pull-right">Breakdown</button>
                <!--<div class="btn-group">
                    <button class="btn btn-lg btn-default"> <span class="hidden glyphicon glyphicon-star"></span>Support </button>
                    <button class="btn btn-lg btn-default"> <span class="hidden glyphicon glyphicon-comment"></span> Expand </button>
                </div>-->
            </div>

        </div>

    </div>

    <div class="topic-child row">

        <div class="col-sm-10 topic-child-content">

            <h1 class="topic-child-content-title">
                Ebola in Sierra Leone
            </h1>

            <div class="topic-child-content-author">
                Topic author
            </div>

            <div class="topic-child-content-meta">
                <span class="label label-default">label topic</span>
            </div>

            <hr />

        </div>

        <div class="col-sm-2">    A

            <span clas="fa fa-chevron-right"></span>

        </div>

    </div>
</div>
