<div id="container" class="container">

    <div class="topic-grid item">
        <img class="topic-grid-image" src="http://d.ibtimes.co.uk/en/full/1395234/ebola-liberia.jpg" />

        <div class="topic-grid-content">

            <h1 class="topic-grid-title">
                Ebola in Sierra Leone
            </h1>

            <div class="topic-grid-author row">
                <div class="col-sm-6">
                    Topic author
                </div>
                <div class="col-sm-6">
                    <ul class="nav nav-pills pull-right">
                        <li><span class="fa fa-star"></span> 30</li>
                        <li><span class="fa fa-sort-amount-desc"></span> 14</li>
                    </ul>  
                </div>
            </div>

            <hr />

            <div class="topic-grid-meta">
                <span class="label label-default">label topic</span>
            </div>

        </div>

    </div>

<div class="topic-grid item">
        <img class="topic-grid-image" src="http://d.ibtimes.co.uk/en/full/1395234/ebola-liberia.jpg" />

        <div class="topic-grid-content">

            <h1 class="topic-grid-title">
                Ebola in Sierra Leone
            </h1>

            <div class="topic-grid-author row">
                <div class="col-sm-6">
                    Topic author
                </div>
                <div class="col-sm-6">
                    <ul class="nav nav-pills pull-right">
                        <li><span class="fa fa-star"></span> 30</li>
                        <li><span class="fa fa-sort-amount-desc"></span> 14</li>
                    </ul>  
                </div>
            </div>

            <hr />

            <div class="topic-grid-meta">
                <span class="label label-default">label topic</span>
            </div>

        </div>

    </div>

    <div class="topic-grid item">
        <img class="topic-grid-image" src="http://d.ibtimes.co.uk/en/full/1395234/ebola-liberia.jpg" />

        <div class="topic-grid-content">

            <h1 class="topic-grid-title">
                Ebola in Sierra Leone
            </h1>

            <div class="topic-grid-author row">
                <div class="col-sm-6">
                    Topic author
                </div>
                <div class="col-sm-6">
                    <ul class="nav nav-pills pull-right">
                        <li><span class="fa fa-star"></span> 30</li>
                        <li><span class="fa fa-sort-amount-desc"></span> 14</li>
                    </ul>  
                </div>
            </div>

            <hr />

            <div class="topic-grid-meta">
                <span class="label label-default">label topic</span>
            </div>

        </div>

    </div>

    <div class="topic-grid item">
        <img class="topic-grid-image" src="http://d.ibtimes.co.uk/en/full/1395234/ebola-liberia.jpg" />

        <div class="topic-grid-content">

            <h1 class="topic-grid-title">
                Ebola in Sierra Leone
            </h1>

            <div class="topic-grid-author row">
                <div class="col-sm-6">
                    Topic author
                </div>
                <div class="col-sm-6">
                    <ul class="nav nav-pills pull-right">
                        <li><span class="fa fa-star"></span> 30</li>
                        <li><span class="fa fa-sort-amount-desc"></span> 14</li>
                    </ul>  
                </div>
            </div>

            <hr />

            <div class="topic-grid-meta">
                <span class="label label-default">label topic</span>
            </div>

        </div>

    </div>

    <div class="topic-grid item">
        <img class="topic-grid-image" src="http://d.ibtimes.co.uk/en/full/1395234/ebola-liberia.jpg" />

        <div class="topic-grid-content">

            <h1 class="topic-grid-title">
                Ebola in Sierra Leone
            </h1>

            <div class="topic-grid-author row">
                <div class="col-sm-6">
                    Topic author
                </div>
                <div class="col-sm-6">
                    <ul class="nav nav-pills pull-right">
                        <li><span class="fa fa-star"></span> 30</li>
                        <li><span class="fa fa-sort-amount-desc"></span> 14</li>
                    </ul>  
                </div>
            </div>

            <hr />

            <div class="topic-grid-meta">
                <span class="label label-default">label topic</span>
            </div>

        </div>

    </div>


    <div class="topic-grid item">
        <img class="topic-grid-image" src="http://d.ibtimes.co.uk/en/full/1395234/ebola-liberia.jpg" />

        <div class="topic-grid-content">

            <h1 class="topic-grid-title">
                Ebola in Sierra Leone
            </h1>

            <div class="topic-grid-author row">
                <div class="col-sm-6">
                    Topic author
                </div>
                <div class="col-sm-6">
                    <ul class="nav nav-pills pull-right">
                        <li><span class="fa fa-star"></span> 30</li>
                        <li><span class="fa fa-sort-amount-desc"></span> 14</li>
                    </ul>  
                </div>
            </div>

            <hr />

            <div class="topic-grid-meta">
                <span class="label label-default">label topic</span>
            </div>

        </div>

    </div>

    <div class="topic-grid item">
        <img class="topic-grid-image" src="http://d.ibtimes.co.uk/en/full/1395234/ebola-liberia.jpg" />

        <div class="topic-grid-content">

            <h1 class="topic-grid-title">
                Ebola in Sierra Leone
            </h1>

            <div class="topic-grid-author row">
                <div class="col-sm-6">
                    Topic author
                </div>
                <div class="col-sm-6">
                    <ul class="nav nav-pills pull-right">
                        <li><span class="fa fa-star"></span> 30</li>
                        <li><span class="fa fa-sort-amount-desc"></span> 14</li>
                    </ul>  
                </div>
            </div>

            <hr />

            <div class="topic-grid-meta">
                <span class="label label-default">label topic</span>
            </div>

        </div>

    </div>

    <div class="topic-grid item">
        <img class="topic-grid-image" src="http://d.ibtimes.co.uk/en/full/1395234/ebola-liberia.jpg" />

        <div class="topic-grid-content">

            <h1 class="topic-grid-title">
                Ebola in Sierra Leone
            </h1>

            <div class="topic-grid-author row">
                <div class="col-sm-6">
                    Topic author
                </div>
                <div class="col-sm-6">
                    <ul class="nav nav-pills pull-right">
                        <li><span class="fa fa-star"></span> 30</li>
                        <li><span class="fa fa-sort-amount-desc"></span> 14</li>
                    </ul>  
                </div>
            </div>

            <hr />

            <div class="topic-grid-meta">
                <span class="label label-default">label topic</span>
            </div>

        </div>

    </div>

    <div class="topic-grid item">
        <img class="topic-grid-image" src="http://d.ibtimes.co.uk/en/full/1395234/ebola-liberia.jpg" />

        <div class="topic-grid-content">

            <h1 class="topic-grid-title">
                Ebola in Sierra Leone
            </h1>

            <div class="topic-grid-author row">
                <div class="col-sm-6">
                    Topic author
                </div>
                <div class="col-sm-6">
                    <ul class="nav nav-pills pull-right">
                        <li><span class="fa fa-star"></span> 30</li>
                        <li><span class="fa fa-sort-amount-desc"></span> 14</li>
                    </ul>  
                </div>
            </div>

            <hr />

            <div class="topic-grid-meta">
                <span class="label label-default">label topic</span>
            </div>

        </div>

    </div>

    <div class="topic-grid item">
        <img class="topic-grid-image" src="http://d.ibtimes.co.uk/en/full/1395234/ebola-liberia.jpg" />

        <div class="topic-grid-content">

            <h1 class="topic-grid-title">
                Ebola in Sierra Leone
            </h1>

            <div class="topic-grid-author row">
                <div class="col-sm-6">
                    Topic author
                </div>
                <div class="col-sm-6">
                    <ul class="nav nav-pills pull-right">
                        <li><span class="fa fa-star"></span> 30</li>
                        <li><span class="fa fa-sort-amount-desc"></span> 14</li>
                    </ul>  
                </div>
            </div>

            <hr />

            <div class="topic-grid-meta">
                <span class="label label-default">label topic</span>
            </div>

        </div>

    </div>
   </div>
