<div class="wrapper">

    <div class="row">

        <ol class="breadcrumb">
            <li><a href="#">Previous topic placeholder</a></li>
        </ol>

    </div>

    <div class="topic-card row">
        <img class="topic-card-image" src="http://d.ibtimes.co.uk/en/full/1395234/ebola-liberia.jpg" />

        <div class="topic-card-content">

            <div class="topic-card-content-actions row">
                <div class="col-sm-5">
                    <ul class="nav nav-pills pull-left">
                    <li><span class="fa fa-star"></span> 30</li>
                    <li><span class="fa fa-sort-amount-desc"></span> 14</li>
                </ul> 
                </div>
                <div class="col-sm-7">
                    <button class="btn btn-lg btn-warning pull-right">Breakdown <span class="fa fa-sort-amount-desc"></span></button>
                    <button class="btn btn-lg btn-success pull-right"><span class="fa fa-star"></span></button>
                </div>
            </div>

            <h1 class="topic-card-content-title">
                Ebola in Sierra Leone
            </h1>

            <div class="topic-card-content-author">
                Topic author
            </div>

            <p>
                Issue description or pitch. Phasellus quis ligula ut enim pretium ornare nec nec est. Vestibulum eget ipsum fringilla, scelerisque velit vel, cursus eros. Curabitur ullamcorper interdum sapien quis pretium. In eget tristique massa. In lacinia risus sed ullamcorper bibendum. Sed consectetur nec sem at venenatis. Integer sed lacinia risus, eu malesuada lectus. In dignissim congue massa, eu eleifend dui tristique maximus. Sed vehicula ante ut mauris vehicula, non laoreet arcu dapibus.
            </p>

            <hr />

            <div class="topic-card-content-meta row">
                <div class="col-sm-9">
                    <span class="label label-default">label topic</span>
                </div>
                <div class="col-sm-3">
                    
                    <img src="http://cdn.amiquo.com/v11/bundles/amiquocore/images/shareFB.png" width="30px" align="right">

                    <img src="http://cdn.amiquo.com/v11/bundles/amiquocore/images/shareTWT.png" width="30px" align="right" style="margin-right:15px">
                </div>
            </div>

        </div>

    </div>

    <div class="topic-child row">

        <div class="col-sm-10 topic-child-content">

            <h1 class="topic-child-content-title">
                Send contained beds for hospitals
            </h1>

            <div class="topic-child-content-author">
                Topic author
            </div>

            <div class="topic-child-content-meta">
                <ul class="nav nav-pills">
                    <li><span class="fa fa-star"></span> 30</li>
                    <li><span class="fa fa-sort-amount-desc"></span> 14</li>
                </ul>  
            </div>

        </div>

        <div class="col-sm-2 topic-child-drill">   

            <span class="fa fa-angle-right fa-5x pull-right"></span>

        </div>

    </div>

    <div class="topic-child row">

        <div class="col-sm-10 topic-child-content">

            <h1 class="topic-child-content-title">
                Send contained beds for hospitals
            </h1>

            <div class="topic-child-content-author">
                Topic author
            </div>

            <div class="topic-child-content-meta">
                <ul class="nav nav-pills">
                    <li><span class="fa fa-star"></span> 30</li>
                    <li><span class="fa fa-sort-amount-desc"></span> 14</li>
                </ul>  
            </div>

        </div>

        <div class="col-sm-2 topic-child-drill">   

            <span class="fa fa-angle-right fa-5x pull-right"></span>

        </div>

    </div>
</div>
