
<a ng-click="startGame()" class="button--secondary">start game</a>

        <script>
            function d(word) { return word.state.difficulty };
        </script>

<p>Current workset<p>
<table>
    <tr>
        <th>Word</th>
        <th>Translation</th>
        <th>Difficulty</th>
        <th>Interval</th>
        <th>State</th>
        <th>Direction</th>
        <th>Length</th>
    </tr>
    <tr ng-repeat="word in game.workset.words | orderBy: 'difficulty'">
        <td>{{word.word}}</td>
        <td>{{word.translation}}</td>
        <td>{{word.difficulty}}</td>
        <td>{{word.interval}}</td>
        <td>{{word.streaker.state}}</td>
        <td>{{word.streaker.direction}}</td>
        <td>{{word.streaker.length}}</td>
    </tr>
</table>